<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head')%>
        <link rel="stylesheet" href="/css/forum.css">

        <script src="/js/forum.js"></script>
    </head>

    <body>
        <%- include('../partials/header')%>

        <%- include('../partials/UserDisplay')%>

        <div id="PostPopupDiv">
            <div id="CreatePostBackground"></div>

            <% if(loggedin && !muted){ %>
                <div id="CreatePostPopupDiv">
                    <form id="CreatePostForum" action="/sendPost" method="post">
                        <div id="CreatePostHeadingDiv">
                            <div id="CreatePostInputDiv">
                                <input id="CreatePostInput" type="text" placeholder="Give your post a Title?" name="postTitle">
                                <p id="CreatePostTooltip">?</p>
                            </div>
                            <div>
                                <p id="CreatePostExitButton"><strong>X</strong></p>
                            </div>
                        </div>
                        <div id="CreatePostBodyDiv">
                            <textarea id="CreatePostBodyTextarea" placeholder="What's on your mind?" name="postBody"></textarea>
                            <div id="CreatePostBodySideDiv">
                                <img id="CreatePostLogo" src="/images/Logo.PNG">
                                <button id="PostButton"><strong>POST!</strong></button>
                            </div>
                        </div> 
                    </form>
                </div>
            <% } %>

            <% if(loggedin){ %>
                <div id="DeletePostPopupDiv">
                    <img id="DeleteWarningIcon" src="/images/Warning.png">
                    <h5>Deleting this post will delete the entire thread!</h5>
                    <div id="DeleteButtonsDiv">
                        <button><strong>Delete</strong></button>
                        <button>Go Back</button>
                    </div>
                </div>
            <% } %>
        </div>

        <div id="ForumContainer">
            <div id="ForumLeftColumn">
                <div id="LocationContainer">
                    <% for (const location in locations) {%>
                        <div class="generalLocationDiv">
                            <div class="locationDiv">
                                <p class="locationText">Placement Hubs for <%= location.replace("_", " ") %></p>
                                <img class="locationArrow down" src="/images/Arrow.png">
                            </div>
                            <% for (const sublocation in locations[location]) {%>
                                <% var locationId = locations[location][sublocation] %>
                                <div id="<%= locationId %>" class="sublocationDiv hidden">
                                    <p class="locationText">Sub Location <%= sublocation.replace("_", " ") %></p>
                                </div>
                            <% }; %>
                        </div>
                    <% }; %>
                </div>
                <div id="MapContainer">
                    <img id="ForumMap" src="/images/Map.PNG">
                </div>
            </div>

            <div id="ForumMiddleColumn">
                <div id="PostDisplayHeading">
                    <h3>Posts</h3>
                    <p>Last Updated <%= new Date().toLocaleTimeString() %></p>
                    <div id="PostHeadingGap"></div>
                    <% if(loggedin && !muted){ %>
                        <button id="AddPostButton"><strong>+</strong></button>
                    <% } %>
                </div>
                <div id="PostBody">
                    <div id="PostsContainer">

                    </div>
                    <div id="PostNavigationDiv">

                    </div>
                </div>
            </div>

            <div id="ForumRightColumn">
                <div id="BulletinHeadingDiv">
                    <h2>Bulletin Board Autumn 2024</h2>
                    <p>last updated for Aberdeen <%= new Date().toLocaleTimeString() %></p>
                </div>
                <div id="BulletinContentDiv">
                    <div class="bulletingRowDiv">
                        <div class="BulletinItemDiv">
                            <img class="bulletinImage" src="/images/BonAccord.png">
                            <div class="bulletinItemHeadingDiv">
                                <p class="bulletinItemHeading">Shopping</p>
                            </div>
                        </div>
                        <div class="BulletinItemDiv">
                            <img class="bulletinImage" src="/images/Codonas_Logo.png">
                            <div class="bulletinItemHeadingDiv">
                                <p class="bulletinItemHeading">Fun</p>
                            </div>
                        </div>
                    </div>
                    <div class="bulletingRowDiv">
                        <div class="BulletinItemDiv">
                            <img class="bulletinImage" src="/images/UnionSquare.jpg">
                            <div class="bulletinItemHeadingDiv">
                                <p class="bulletinItemHeading">Shopping</p>
                            </div>
                        </div>
                        <div class="BulletinItemDiv">
                            <img class="bulletinImage" src="/images/vue_aberdeen.jpg">
                            <div class="bulletinItemHeadingDiv">
                                <p class="bulletinItemHeading">Movies</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../partials/footer')%>
    </body>
</html>
