<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head')%>
        <link rel="stylesheet" href="/css/forum.css">

        <script src="/js/forum.js"></script>
    </head>

    <body>
        <%- include('../partials/header')%>

        <%- include('../partials/UserDisplay')%>

        <%= JSON.stringify(locations) %>
        <%= preferredLocation %>

        <div id="ForumContainer">
            <div id="ForumLeftColumn">
                <div id="LocationContainer">
                    <% for (const location in locations) {%>
                        <div class="generalLocationDiv">
                            <div class="locationDiv">
                                <p class="locationText">Placement Hubs for <%= location %></p>
                                <img class="locationArrow down" src="/images/Arrow.png">
                            </div>
                            <% for (const sublocation in locations[location]) {%>
                                <div class="sublocationDiv hidden">
                                    <p class="locationText">Sub Location <%= sublocation %></p>
                                </div>
                            <% }; %>
                        </div>
                    <% }; %>
                </div>
                <div id="MapContainer">
                    <img id="ForumMap" src="/images/Map.PNG">
                </div>
            </div>

            <div id="ForumMiddleColumn">
                <div id="PostDisplayHeading">
                    <h3>Posts</h3>
                    <p>Last Updated 9:40AM 18/10/24</p>
                    <div id="PostHeadingGap"></div>
                    <button><strong>+</strong></button>
                </div>
                <div id="PostBody">
                    <div id="PostsContainer">

                    </div>
                    <div id="PostNavigationDiv">

                    </div>
                </div>
            </div>

            <div id="ForumRightColumn">
                <div id="BulletinHeadingDiv">
                    <h2>Bulletin Board Autumn 2024</h2>
                    <p>last updated for Aberdeen 9:40AM 18/10/24</p>
                </div>
                <div id="BulletinContentDiv">
                    <div class="bulletingRowDiv">
                        <div>
                            <img src="">
                            <div>
                                <p>Shopping</p>
                            </div>
                        </div>
                        <div>
                            <img src="">
                            <div>
                                <p>Fun</p>
                            </div>
                        </div>
                    </div>
                    <div class="bulletingRowDiv">
                        <div>
                            <img src="">
                            <div>
                                <p>Shopping</p>
                            </div>
                        </div>
                        <div>
                            <img src="">
                            <div>
                                <p>Movies</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../partials/footer')%>
    </body>
</html>
