<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head')%>
        <link rel="stylesheet" href="/css/forum.css">

        <script src="/js/forum.js"></script>
    </head>

    <body>
        <%- include('../partials/header')%>

        <%- include('../partials/UserDisplay')%>

        <%= JSON.stringify(locations) %>
        <%= preferredLocation %>

        <div id="PostPopupDiv">
            <div id="CreatePostBackground"></div>

            <div id="CreatePostPopupDiv">
                <form id="CreatePostForum" action="/sendPost" method="post">
                    <div id="CreatePostHeadingDiv">
                        <div id="CreatePostInputDiv">
                            <input id="CreatePostInput" type="text" placeholder="Give your post a Title?" name="postTitle">
                            <p id="CreatePostTooltip">?</p>
                        </div>
                        <div>
                            <p id="CreatePostExitButton"><strong>X</strong></p>
                        </div>
                    </div>
                    <div id="CreatePostBodyDiv">
                        <textarea id="CreatePostBodyTextarea" placeholder="What's on your mind?" name="postBody"></textarea>
                        <div id="CreatePostBodySideDiv">
                            <img id="CreatePostLogo" src="/images/Logo.PNG">
                            <button id="PostButton"><strong>POST!</strong></button>
                        </div>
                    </div> 
                </form>
            </div>

            <div id="DeletePostPopupDiv">
                <img id="DeleteWarningIcon" src="/images/Warning.png">
                <h5>Deleting this post will delete the entire thread!</h5>
                <div id="DeleteButtonsDiv">
                    <button><strong>Delete</strong></button>
                    <button>Go Back</button>
                </div>
            </div>
        </div>

        <div id="ForumContainer">
            <div id="ForumLeftColumn">
                <div id="LocationContainer">
                    <% for (const location in locations) {%>
                        <div class="generalLocationDiv">
                            <div class="locationDiv">
                                <p class="locationText">Placement Hubs for <%= location %></p>
                                <img class="locationArrow down" src="/images/Arrow.png">
                            </div>
                            <% for (const sublocation in locations[location]) {%>
                                <div class="sublocationDiv hidden">
                                    <p class="locationText">Sub Location <%= sublocation %></p>
                                </div>
                            <% }; %>
                        </div>
                    <% }; %>
                </div>
                <div id="MapContainer">
                    <img id="ForumMap" src="/images/Map.PNG">
                </div>
            </div>

            <div id="ForumMiddleColumn">
                <div id="PostDisplayHeading">
                    <h3>Posts</h3>
                    <p>Last Updated 9:40AM 18/10/24</p>
                    <div id="PostHeadingGap"></div>
                    <button id="AddPostButton"><strong>+</strong></button>
                </div>
                <div id="PostBody">
                    <div id="PostsContainer">

                    </div>
                    <div id="PostNavigationDiv">

                    </div>
                </div>
            </div>

            <div id="ForumRightColumn">
                <div id="BulletinHeadingDiv">
                    <h2>Bulletin Board Autumn 2024</h2>
                    <p>last updated for Aberdeen 9:40AM 18/10/24</p>
                </div>
                <div id="BulletinContentDiv">
                    <div class="bulletingRowDiv">
                        <div>
                            <img src="">
                            <div>
                                <p>Shopping</p>
                            </div>
                        </div>
                        <div>
                            <img src="">
                            <div>
                                <p>Fun</p>
                            </div>
                        </div>
                    </div>
                    <div class="bulletingRowDiv">
                        <div>
                            <img src="">
                            <div>
                                <p>Shopping</p>
                            </div>
                        </div>
                        <div>
                            <img src="">
                            <div>
                                <p>Movies</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../partials/footer')%>

        <script>
            $(".sublocationDiv").on("click", function(){
                let locationName = $(this).attr("id").split("_")[0];
                let areaName = $(this).attr("id").split("_")[1];
                let areaId = '<%= locations[locationName][areaName] %>';

                console.log("Location : " + locationName);
                console.log("Area : " + areaName);
                console.log("Area ID : " + areaId);
            });
        </script>
    </body>
</html>
