<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/thread.css">
    
    <%- include('../partials/head')%>
    
    <title>Thread Discussion</title>
</head>
<body>
    <%- include('../partials/header')%>

    <%- include('../partials/UserDisplay')%>

    
    <a href="/forum/placements" class="back-button">⬅ Back</a>

    
    <div class="container">
        
        <div class="header">
            <h1>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3 17.25V21h3.75l11.06-11.06-3.75-3.75L3 17.25zm13.06-11.06l3.75 3.75L21 8.31 15.69 3 14.31 4.19z"/></svg>
                <%= threadContent["title"] %>
            </h1>
            <p><%= threadContent["postUserID"] %></p>
            <p><%= threadContent["content"] %></p>
        </div>

        
        <div class="comments">
            <% for (const comment of threadContent["comments"]){ %>
                <div class="comment">
                    <div class="avatar" style="background-color: #6A8AFF;"></div>
                    <div class="content">
                        <h3><%= comment["commentUserID"] %></h3>
                        <p><%= comment["commentContent"] %></p>
                        <div class="time"><%= comment["commentDateTime"] %></div>
                    </div>
                </div>
            <% } %>
        </div>

        
        <div class="pagination">
            <span class="active">1</span>
            <span>2</span>
            <span>3</span>
        </div>
    </div>

    <%- include('../partials/footer')%>

</body>
</html>
